body {
  font-family: sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* Background layer */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: url('bg2.jpeg') no-repeat center center;
  background-size: cover;

  /* Blur effect */
  filter: blur(3.5px);

  /* Animation */
  animation: bgAnimation 20s linear infinite;

  z-index: -1;
}

/* Animation */
@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.box{
    height: 600vh;
    width: 96.9vw;
    border: 4px solid black; 
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
h1{
    line-height: 0.5 ;
    font-size: 15px;
    margin-left: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
h2{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.logo{
  height: 60px;
  width: 70px;
  filter: brightness(0.9) contrast(1.8);
}
.logo1{
    height: 70px;
    width: 80px;
    filter: brightness(0.95) contrast(1.9);
}
h3{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 67px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
    text-shadow: 4px 3px 5px rgb(98, 245, 98);
}
h4{
    margin-left: 20px;
    font-family:url('https://fonts .googleapis.com/css?family= Roboto+Slab:wght@100..900& display=swap');
    font-size: 25px;
    font-weight: 800;
    margin-top: -35px;
    text-shadow: 2px 2px 2px white;

}
.para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: -30px 25px 15px 50px;
    font-weight: bolder;
    word-spacing: 2.5px;
    color: white;
    text-shadow: 1px 2px 1px black;

}
.facilities-title{
    font-size: 35px;
    margin-top: 35px;
    font-weight: 800;
    text-align:  center;
    text-shadow: 2px 2px 2px white;

}
.fac{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17.5px;
    line-height: 2.2;
    display: flex;
    flex-wrap: wrap;
    font-weight: 1000;
    margin-top: -45px;
    text-shadow: 2px 1px 1px black;
}
.fac li{
    margin-left: 45px;
    color: white;
}
h6{
    font-size: 35px;
    margin-top: 8px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 2px white;
}
.rooms{
    padding: 40px;
    text-align: center;
    margin-top: -80px;

}
.rooms h7{
    font-size: 28px;
    margin-bottom: 30px;
    animation: faceSlide 1s ease forwards;
}
.room-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

}

.room-card {
    background: whitesmoke;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px black;
  transition: transform 0.4s ease;
  animation: fadeUp 1.2s ease forwards;
  
}

.room-card:hover {
  transform: translateY(-10px);
}

.room-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.room-card h7 {
  margin: 15px 0 5px;
  color: #010811;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  
}
.room-card h8{
  font-size: 20px;
  color: black;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;


}

.room-card p {
  font-size: 17px;
  padding: 0 15px;
  font-weight: bold;
}

.room-card span {
  display: block;
  margin: 10px 0 15px;
  font-weight: bolder;
  color: #0f0f0f;
  font-size: 17px;
}
.img-slider {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
}

/* Track */
.slide-track {
  display: flex;
  width: 100%;
  height: 180px;
  animation: slideAnim 9s infinite ease-in-out;
}

/* Images */
.slide-track img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  flex-shrink: 0;
}
@keyframes slideAnim {
  0%   { transform: translateX(0); }
  30%  { transform: translateX(0); }

  35%  { transform: translateX(-100%); }
  60%  { transform: translateX(-100%); }

  65%  { transform: translateX(-200%); }
  90%  { transform: translateX(-200%); }

  100% { transform: translateX(0); }
}
.room-desc {
  font-size: 14px;
  padding: 0 15px;
  color: black;
  text-align: center;
}

/* Price box */
.price-box {

  margin: 15px;
  padding: 12px;

}

.price-box p {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin: -10px 0;
  font-weight: bolder;
}

.price-box span {
  font-weight: bolder;
  color: #0c0c0c;
  margin-top: -5px;
  font-size: 17px;
}